.SecondCard{
    height: 72px;
    background-color: white;
    box-shadow: 0 0 12px 0px #dbdbdb;
    margin: 20px;
    padding: 15px;
    h2{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: rgb(5, 5, 5);
        margin:5px 34px 0px 0px;
      }
      input[name="flexRadioDefault"] {
      accent-color: green;
      margin-top:12px;
      }
    }