.apply_for_copen {
    background: #e6efff;
    border: 1px solid #629cff;
    height: 48px;
    width: 100%;
  }
  
  .apply_heading {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #629cff;
  }