

.mt_72 {
    margin-top: 38px;
}

.slider_img {
    width: 150px !important;
    height: 150px !important;
}

.item_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #313436;
}

.manufacturer_name {
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 12px;
}

.sales_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.443089px;
    color: #313436;
    margin-top: 20px;
}

.cheaper_rate {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #00683D;
}

.cost_per_tablet {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.393856px;
    color: #C0C0C0;
}

 
.title_box_height {
    height: 50px;
}
.alternat_addbtn {
    width: auto;
    height: 40px;
    width: 290px;
    border: none;
    background: #00683D;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
}
