.review {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #313436;
}
.name {
    font-weight: 500;
    font-size: 26px;
    line-height: 18px;
    color: #00683D;
    margin-top: 75px;
}
.date {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
    color: #808080;
}