
// .Banner_block_size {
//     height: 159px;
//     justify-content: center;
// }

// .Banner_block_text {
//     font-weight: 400 !important;
//     font-size: 12px !important;
//     line-height: 18px !important;
//     color: #313436 !important;
// }

.text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #313436;
}