.ActionCard_btn {
    width: auto;
    height: auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 10px !important;
}
.Image_size {
    width: 218px !important;
    display: flex;
    align-items: flex-end;
    // height: 175px !important;
}
.head_text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.28px;
    color: #313436;
}
.headSub_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #313436;
}
.ml_15 {
    margin-left: 10px;
    padding-right: 45px !important;
}