.Order_prescription_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    width: 90%;
}

.Order_orderquick_text {
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 20px;
    color: #313436;
    width: 90%;
}

.Order_save_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    width: 77%;
}

.upload_btn {
    width: 100%;
    height: 34px;
    border: 2px solid #00683D !important;
    background: white !important;
    color: #00683D !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

.medicine_container {
    background: #D0F3E5;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
