.tablet_name {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.28px;
    color: #313436;
}

.forward_img {
    width: 19px !important;
    height: 19px !important;
}


.Laboratorie_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 8px;
}

.current_price {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.28px;
    color: #313436;
}

.previous_price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.248889px;
    color: #C0C0C0;
    margin-left: 8px;
}

.add_button {
    width: 261px;
    height: 40px;
    background-color: #00683D;
    color: white;
    border: none;
}

.discount {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FF0000;
    margin-left: 6px;
}
